{% extends "base.html" %}
{% block title %}Analiza Wyników EKG{% endblock %}

{% block content %}
    <center>
    <h2 class="display-1">Analiza wyników badań EKG</h2>

    <!-- Wykres przebiegu EKG -->
    <div>
        <img src="data:image/png;base64,{{ chart_data }}" alt="ECG Signal Plot" class="img-fluid">
    </div>
    <div>
    </div>

    <!-- Tabela z podstawowymi parametrami -->
        <div>
        <h2>Podstawowe parametry EKG</h2>
        <table class="table">
            <tr>
                <th>Średni HR</th>
                <th>Max HR</th>
                <th>Min HR</th>
                <th>Łączna liczba anotacji</th>
                <th>Liczba anotacji N</th>
                <th>Liczba anotacji A</th>
            </tr>
            <tr>
                <td>{{ avg_hr }}</td>
                <td>{{ max_hr }}</td>
                <td>{{ min_hr }}</td>
                <td>{{ total_ann }}</td>
                <td>{{ count_N }}</td>
                <td>{{ count_A }}</td>
            </tr>
        </table>
    </div>

    <!-- Przycisk do wyeksportowania wyników do PDF -->
    <div>
        <h2>Wyeksportuj wyniki do PDF</h2>
        <form method="get">
            <!-- Tutaj dodaj odpowiednie pola formularza, jeśli są potrzebne -->
            <button type="submit">Eksportuj do PDF</button>
        </form>
    </div>

    <a href="{{ url_for('index') }}">Wróć do strony głównej</a>
    </center>
{% endblock %}
