{% extends "base.html" %}
{% block title %}Strona główna{% endblock %}
{% block content %}
    </br></br>
    <center>

    <a href="{{ url_for('konfiguracja') }}" class="btn btn-primary btn-lg">Konfiguracja urządzenia</a></br>
    <br>
        <a href="{{ url_for('analiza') }}" class="btn btn-primary btn-lg">Analiza wyników</a>
</br>
    <form  method="post" action ="{{ url_for('logout') }}">
        <br>
        <button type="submit"  class="btn btn-primary btn-lg" >Wyloguj</button>
    </form>
    </center>
{% endblock %}