{% extends "base.html" %}
{% block title %}Konfiguracja Holtera{% endblock %}
{% block content %}
    <div align="center" class="container-sm">
    <form method="POST" action="{{ url_for('konfiguracja') }}">
        <fieldset>
            <legend><span class="border-bottom">Konfiguracja urządzenia</span></legend><br>
            <div class="mb-3">
                <label for="start_date" class="form-label">Data rozpoczęcia pomiarów:</label>
                <input type="date" name="start_date" required class="form-control" id="start_date">
            </div>
            <div class="mb-3">
                <label for="end_date" class="form-label">Data zakończenia pomiarów:</label>
                <input type="date" name="end_date" required class="form-control" id="end_date">
            </div>
            <button type="submit" class="btn btn-primary">Zapisz konfigurację</button>
        </fieldset>
    </form>
    </div>
{% endblock %}