<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type ="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Logowanie</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('login') }}">WATWOSKYmed</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
    </header>
    <br><br>
    <div align="center" class="container-sm">
    <form method="post" action ="{{ url_for('login') }}">
        <fieldset>
            <legend><span class="border-bottom">Logowanie</span></legend>
            <div class="mb-3">
                <label for="exampleInputLogin1" class="form-label">Login: </label>
                <input type="text" placeholder="Wpisz login" name="login" required class="form-control" id="exampleInputLogin1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" >Hasło: </label>
                <input type="password" placeholder="Wpisz haslo" name="password" required class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Zaloguj</button>
        </fieldset>
    </form>
    </div>
</body>
</html>